<h3>Bulk Import Questions</h3>

<p>
  <strong>Note: I only encourage usage of this form for uploading machine parsed questions.</strong>
  When entering by hand, using the "Add Tossup" or "Add Bonus" forms is faster because you don't have to
  manually escape or format every special character.
</p>

<ul>
  <li>
    You can give info in the bulk fields to apply them to all questions imported.
    Any conflicting info in the actual import will override this umbrella info.
  </li>
  <li>
    Your questions should be uploaded in
    <a href="http://www.yaml.org/start.html" target="_blank">YAML</a> format.
    See <a href="https://github.com/UlyssesInvictus/QuizDB/blob/master/db/data/import.example.yaml" target="_blank">here</a>
    or <a href="https://github.com/UlyssesInvictus/QuizDB/blob/master/db/data/import.hft.yaml" target="_blank">here</a>
    for examples, with all possible meta-fields and instructions
    on how to format your YAML for QuizDB.
  </li>
  <li>
    <strong>You must run the uploader twice</strong> to force an import.
    The first run lets your preview the upload, and the second actually imports
    the questions.
  </li>
  <li>
    The uploader will parse questions one by one and ignore any with errors.
    After a preview run, both incorrect and succesful parses will be shown.
  </li>
  <li>
    If you prefer, you can also add individual tossups and bonuses from their subportals.
  </li>
</ul>

<%= semantic_form_for :import, url: admin_import_force_path, method: :post do |f| %>
  <%= f.inputs name: "Bulk Input" do %>
  <!-- Can't use formtastic fields b/c of deprecated default select option -->
  <%
    round ||= ""
    tournament_id ||= nil
    category_id ||= nil
    subcategory_id ||= nil
  %>
    <li>
      <%= f.label "Tournament", for: "import_tournament_id" %>
      <%= f.select :tournament_id, [["None", nil]] + Tournament.pluck(:name, :id), required: false,
                              selected: tournament_id
      %>
    </li>
    <%= f.input :round, required: false, input_html: { value: round } %>
    <li>
      <%= f.label "Category", for: "import_category_id" %>
      <%= f.select :category_id, [["None", nil]] + Category.select_options_by_important,
            required: false,
            selected: category_id
      %>
    </li>
    <li>
      <%= f.label "Subcategory", for: "import_subcategory_id" %>
      <%= f.select :subcategory_id, [["None", nil]] + Subcategory.select_options_by_important,
            required: false,
            selected: subcategory_id
      %>
    </li>
  <% end %>
  <%= f.inputs name: "Your Questions" do %>
    <% if parse_string.present? %>
      <%= f.input :parsed_questions, as: :text,
          hint: "What QuizDB tried to parse your questions as",
          input_html: {
            disabled: true,
            value: parse_string
          } %>
    <% end %>
    <%= f.input :questions, as: :text,
                hint: "Copy-paste your questions here! Remember, YAML format!",
                input_html: {rows: 50, value: previous_params[:questions] || ""}
    %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: "Practice Parse" %>
    <% if parse_string.present? %>
      <%= f.action :submit, label: "Force Upload",
          button_html: { formaction: admin_import_force_path + "?force=true" } %>
    <% end %>
  <% end %>
<% end %>
