<%= form_for(tossup) do |f| %>
  <% if tossup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tossup.errors.count, "error") %> prohibited this tossup from being saved:</h2>

      <ul>
      <% tossup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
